In [25]:
#import necessary dependencies
from sqlalchemy import create_engine
import random as rand
import pandas as pd
#creating an engine with a file that doesn't exist will 
#create it locally on commit
engine = create_engine('sqlite:///gwhiz.db', echo=True)

In [26]:
#programmatically create a dataset with random data
names = ['Ringo', 'John', 'Paul', 'George'] 
report = {}

for n in names:
    grades = []
    for i in range(5):
        grades.append(rand.choice(range(50,100)))
    report[n] = grades
    
report

{'Ringo': [53, 81, 90, 82, 91],
 'John': [51, 81, 61, 62, 98],
 'Paul': [95, 99, 55, 88, 76],
 'George': [75, 90, 88, 90, 96]}

In [27]:
#create a dataframe from the dataset object
df = pd.DataFrame(report)
df

   Ringo  John  Paul  George
0     53    51    95      75
1     81    81    99      90
2     90    61    55      88
3     82    62    88      90
4     91    98    76      96

In [28]:
#set the index and the index name
df.index = ['math', 'science', 'english', 'art', 'gym']
df.index.name = 'classes'
df

         Ringo  John  Paul  George
classes
math        53    51    95      75
science     81    81    99      90
english     90    61    55      88
art         82    62    88      90
gym         91    98    76      96

In [29]:
#save the dataframe to a sqlite database
df.to_sql('grades', con=engine, if_exists='replace')

2019-08-24 19:44:07,974 INFO sqlalchemy.engine.base.Engine SELECT CAST('test plain returns' AS VARCHAR(60)) AS anon_1
2019-08-24 19:44:07,976 INFO sqlalchemy.engine.base.Engine ()
2019-08-24 19:44:07,977 INFO sqlalchemy.engine.base.Engine SELECT CAST('test unicode returns' AS VARCHAR(60)) AS anon_1
2019-08-24 19:44:07,983 INFO sqlalchemy.engine.base.Engine ()
2019-08-24 19:44:07,984 INFO sqlalchemy.engine.base.Engine PRAGMA table_info("grades")
2019-08-24 19:44:07,986 INFO sqlalchemy.engine.base.Engine ()
2019-08-24 19:44:08,013 INFO sqlalchemy.engine.base.Engine
CREATE TABLE grades (
	classes TEXT,
	"Ringo" BIGINT,
	"John" BIGINT,
	"Paul" BIGINT,
	"George" BIGINT
)


2019-08-24 19:44:08,016 INFO sqlalchemy.engine.base.Engine ()
2019-08-24 19:44:08,177 INFO sqlalchemy.engine.base.Engine COMMIT
2019-08-24 19:44:08,185 INFO sqlalchemy.engine.base.Engine CREATE INDEX ix_grades_classes ON grades (classes)
2019-08-24 19:44:08,186 INFO sqlalchemy.engine.base.Engine ()
2019-08-24 19:44:08,379 INFO sqlalchemy.engine.base.Engine COMMIT
2019-08-24 19:44:08,463 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2019-08-24 19:44:08,467 INFO sqlalchemy.engine.base.Engine INSERT INTO grades (classes, "Ringo", "John", "Paul", "George") VALUES (?, ?, ?, ?, ?)
2019-08-24 19:44:08,468 INFO sqlalchemy.engine.base.Engine (('math', 53, 51, 95, 75), ('science', 81, 81, 99, 90), ('english', 90, 61, 55, 88), ('art', 82, 62, 88, 90), ('gym', 91, 98, 76, 96))
2019-08-24 19:44:08,507 INFO sqlalchemy.engine.base.Engine COMMIT

In [23]:
#select from our newly created database to verify data is there
result = engine.execute('Select * from grades').fetchall()
result

[('math', 60, 95, 86, 73),
 ('science', 55, 68, 97, 70),
 ('english', 99, 78, 75, 76),
 ('art', 78, 80, 52, 61),
 ('gym', 80, 67, 63, 69)]

In [24]:
#read from a sql query into a dataframe
df = pd.read_sql('Select * from grades', engine, index_col = 'classes')
df

         Ringo  John  Paul  George
classes
math        60    95    86      73
science     55    68    97      70
english     99    78    75      76
art         78    80    52      61
gym         80    67    63      69

In [8]:
#cleanup the sqlalchemy engine when we are done
engine.dispose()